<ng-container>
  <div class="ticket-system__popup-filter">
    <div class="ticket-system__popup-filter-content">
      <div class="ticket-system__popup-filter-headline">Фильтры</div>
      <div class="ticket-system__slider-wrapper">
        <div class="ticket-system__slider-description">Цена</div>
        <div class="ticket-system__popup-filter-slider-text-values">
          <div class="ticket-system__slider-min ticket-system__popup_filter_min">2 600 ₽</div>
          <div class="ticket-system__slider-max ticket-system__popup_filter_max">11 500 ₽</div>
        </div>
        <app-slider></app-slider>
      </div>
      <div class="ticket-system__popup-filter-close-block">
        <div class="ticket-system__icon__close"></div>
      </div>
      <app-button></app-button>
    </div>
  </div>
</ng-container>
