$fontBase: 'Golos', serif;

$colorDarkBlue: #0B193B;
$colorBlue: #0063FF;
$colorCyan: #1D92DA;

$colorWhite: #FFFFFF;
$colorGrayText: #B1B1B1;
$colorGray: #EAEAEA;
$azureRadianceGradient: linear-gradient(90deg, #00A3FF 0%, #7000FF 100%);
$lightBorderColor:#27365B;

$colorCovid: #FF6D6D;

$indent4: 4px;
$indent8: 8px;
$indent10: 10px;
$indent12: 12px;
$indent15: 15px;
$indent18: 18px;
$indent20: 20px;
$indent22: 22px;
$indent25: 25px;
$indent26: 26px;
$indent30: 30px;
$indent35: 35px;
$indent40: 40px;
$indent45: 45px;
$indent50: 50px;
$indent55: 55px;
$indent60: 60px;

$borderRadius5: 5px;
$borderRadius8: 8px;
$borderRadius9: 9px;
$borderRadius12: 12px;
$borderRadiusRound: 50%;

$dashedBorder:1px dashed #9BA3B7;
