@import "../../../../../../assets/scss/shared";

:host{
  flex-shrink: 0;
  width: 33%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  font-weight: 600;
  border-right: 1px solid $lightBorderColor;
  user-select: none;

  /**/
  color: white;

  @include mobile{
    border-right:none;
    height: 75px;
    width: 100%;
    padding-left: 16px;
  }

  svg{
    width: 15px;
    height: 15px;
    margin-right: 11px;
  }
}
