@import "../../../assets/scss/shared";

:host{
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0 auto 100px;
  padding-right: 15px;
  position: relative;
  padding-bottom: 55px;


  &.ticket-system__choose-places-zoom-x1_5{
    .ticket-system__choose-places-block{
      padding-right: 20px !important;
    }

    .ticket-system__choose-places-row{
      margin-bottom: 13px !important;
      margin-top: 13px !important;
    }

    .ticket-system__choose-places-item{
      width: 14px !important;
      height: 14px !important;

      &:after{
        width: 28px !important;
        height: 28px !important;
      }
    }

    .ticket-system__choose-places-row-number{
      font-size: 14px !important;
      line-height: 14px !important;
    }

    .ticket-system__choose-places-soled-place{
      -webkit-mask-size: 22px !important;
    }

    .ticket-system__choose-places-chosen-place{
      font-size: 8px !important;
    }

    .ticket-system__choose-places-hover-icon{
      background-size: 54% !important;
    }
  }

  &.ticket-system__choose-places-zoom-x2{
    .ticket-system__choose-places-block{
      padding-right: 25px !important;
    }

    .ticket-system__choose-places-row{
      margin-bottom: 15px !important;
      margin-top: 15px !important;
    }

    .ticket-system__choose-places-item{
      width: 18px !important;
      height: 18px !important;

      &:after{
        width: 36px !important;
        height: 36px !important;
      }
    }

    .ticket-system__choose-places-row-number{
      font-size: 18px !important;
      line-height: 18px !important;
    }

    .ticket-system__choose-places-soled-place{
      -webkit-mask-size: 27px !important;
    }

    .ticket-system__choose-places-chosen-place{
      font-size: 8px !important;
    }

    .ticket-system__choose-places-hover-icon{
      background-size: 58% !important;
    }
  }

  .ticket-system__choose-places-block{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: auto;
    /*margin: 0 auto 100px auto;*/

    @include mobile{
      padding:0 13px;
    }

    .ticket-system__choose-places-item{
      display: block;
      position: absolute;
      border-radius: $borderRadiusRound;
      width: 12px;
      height: 12px;
      cursor: pointer;
      transition: transform .15s linear;

      &:after{
        content: "";
        height: 24px;
        position: absolute;
        width: 24px;
        top: -50%;
        left: -50%;
      }

      &.ticket-system__choose-places-soled-place{
        border-radius: 0;
        background-color: #525C72 !important;
        -webkit-mask-size: 18px;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-size: 18px;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-image: url("/assets/img/icons/close.svg");
        -webkit-mask-image: url("/assets/img/icons/close.svg");
        cursor: default;
      }

      &.ticket-system__choose-places-chosen-place{
        transform: scale(1.5) !important;
        background-color: white !important;
        display: flex;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        color:$colorDarkBlue;
        font-size: 6px;
        line-height: 6px;
        -webkit-mask-image: none;
        mask-image:none;
        border-radius: 50%;

        @include mobile{
          transform: scale(1.3) !important;
        }
      }

      .ticket-system__choose-places-hover-icon{
        background-color: #fff;
        background-image: url(/assets/img/icons/choose-place-icon.svg);
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
      }
    }

    .ticket-system__choose-places-row{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 10px;
      height: 18px;
      justify-content: right;

      .ticket-system__choose-places-items-wrapper{
        display: flex;
        align-items: center;
      }
    }
  }

  .ticket-system__choose-places-row-wrapper{
    display: block;
    position: relative;
    width: 26px;
    flex-shrink: 0;
    height: auto;

    .ticket-system__choose-places-row-number{
      font-size: 12px;
      position: absolute;
      line-height: 12px;
      user-select: none;
      cursor: default;
      width: 15px;
      display: flex;
      justify-content: right;
    }
  }

  .ticket-system__choose-places-arena-block{
    bottom: 0;
    position: absolute;
    right: auto;
    left: auto;
    width: 55%;
    padding-left: 15px;
    padding-right: 15px;

    @include mobile{
      padding-left: 20px;
      padding-right: 5px;
      width: 100%;
    }

    .ticket-system__choose-places-arena{
      align-items: center;
      border-bottom: 1px solid #39455f;
      border-top: 1px solid #39455f;
      color: #fff;
      cursor: default;
      display: flex;
      font-size: 16px;
      font-weight: 700;
      justify-content: center;
      line-height: 19px;
      margin-right: 15px;
      padding-bottom: 16px;
      padding-top: 16px;
      user-select: none;
      width: 100%;

      @include mobile{
        font-size: 14px;
      }
    }
  }
}
