<ng-container>
  <div class="ticket-system__title-text">{{title}}</div>
  <div class="ticket-system__zoom-block hide-desktop">
    <div class="ticket-system__zoom-icon-left">
      <div class="ticket-system__icon__zoom-out" style="background-color: rgb(197, 210, 232);"></div>
    </div>
    <div class="ticket-system__zoom-icon-right">
      <div class="ticket-system__icon__zoom-in" style="background-color: rgb(0, 99, 255);"></div>
    </div>
  </div>
  <app-language-switcher class="hide-mobile"></app-language-switcher>
</ng-container>
