<div class="custom-slider" *ngIf="sectorPrices$ | async as sectorPrices">
  <div class="ticket-system__slider-description">цена</div>
  <div class="ticket-system__slider-text-value min">
    {{sectorPrices.minPrice | numberFormat : 0 : '' : ' '}} ₽
  </div>
  <ngx-slider
    [(value)]="sectorPrices.minPrice"
    [(highValue)]="sectorPrices.maxPrice"
    [options]="options"
    (userChangeEnd)="onUserChangeEnd($event)"
  ></ngx-slider>
  <div class="ticket-system__slider-text-value max">
    {{sectorPrices.maxPrice | numberFormat : 0 : '' : ' '}} ₽
  </div>
</div>
