<ng-container>
  <div class="ticket-system__popup-choose-sector <!--ticket-system__popup-show ticket-system__popup-show-effect-->" id="ticket_system__popup_choose_sector" data-ticket-system-chosen-sector="" style="left: 781px; top: 249.5px;">
    <div class="ticket-system__popup-choose-sector-content">
      <div class="ticket-system__popup-choose-sector-decorate" style="background-color: #ff6b6d">
        <div class="ticket-system__popup-choose-sector-decorate-square" style="background-color: #ff6b6d"></div>
      </div>
      <div class="ticket-system__popup-choose-sector-info">
        <div class="ticket-system__popup-choose-sector-header">Сектор <span style="text-transform: uppercase">с</span>, блок <span style="color: #ff6b6d;text-transform: uppercase;">с522</span></div>
        <div class="ticket-system__popup-choose-sector-free-places" style="margin-top: 30px;font-size: 18px;">Нет свободных мест</div>
      </div>

      <div class="ticket-system__popup-choose-close-block ticket-system__hide-desktop" data-close-choose-sector-popup="">
        <div class="ticket-system__icon__close"></div>
      </div>
    </div>
  </div>
</ng-container>


